The parking lot should have multiple levels, each level with a certain number of parking spots.
The parking lot should support different types of vehicles, such as cars, motorcycles, and trucks.
Each parking spot should be able to accommodate a specific type of vehicle.
The system should assign a parking spot to a vehicle upon entry and release it when the vehicle exits.
The system should track the availability of parking spots and provide real-time information to customers.
The system should handle multiple entry and exit points and support concurrent access.



---

classes:

1. Parking lot: It will have set of levels
- name: String
- levels: Level[] 1..*

2. Level: A level may have multiple types of parking
# floot: int
# TotalSpots: int
- Status: Bool[TotalSpots]

3. Vehicle: An interface which every vehicle type needs to extended
GetType()
GetNumberPlate()

4. BaseVehicle class extends Vehicle interface and occomodate 3 types of vehicles

5. Each new vehicle should return BaseVehicle struct with correct type

6. A Parking spot should occomodate vehicle and provide correct status (Also seperate and fixed spot for each vehicle type)
IsAvailable()
GetSpotNumber()
GetVehicle()
GetVehicleType()
